<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>User list</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">format_list_bulleted</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dateOfBirth">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.dateOfBirth | userAge: 'element.dateOfBirth' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="userName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.userName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="hireDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Hire Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.hireDate | date: 'yyyy/MM/dd' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.state }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a mat-mini-fab matTooltip="Edit info" [routerLink]="['/edituser', element.$key]" color="primary"><i class="material-icons">edit</i></a>
      <a mat-mini-fab matTooltip="See info" [routerLink]="['/edituser', element.$key, 'view']" color="primary"><i class="material-icons">remove_red_eye</i></a>
      <button mat-mini-fab matTooltip="Delete user" color="primary" (click)="onDelete(element.$key)"><i class="material-icons">delete</i></button>      
    </mat-cell>
  </ng-container>

  <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<button type="button" (click)="addNewUser()" mat-raised-button color="primary">Add a new user</button>
