<section class="emp-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="text" 
      matInput 
      placeholder="Employee's name" 
      formControlName="name">
      <mat-error>Missing name</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input 
        matInput 
        placeholder="Employee's birthday"
        formControlName="DoB" 
        [matDatepicker]="picker"
        [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Missing Date of birth</mat-error>
    </mat-form-field> 

    <mat-form-field>
      <input type="text" 
      matInput 
      placeholder="Employee's username" 
      formControlName="username">
      <mat-error>Missing username</mat-error>
    </mat-form-field> 

    <mat-form-field>
      <input 
        matInput 
        placeholder="Employee's hire date"
        formControlName="hiredate" 
        [matDatepicker]="pickerHD"
        [max]="maxDateHD">
      <mat-datepicker-toggle matSuffix [for]="pickerHD"></mat-datepicker-toggle>
      <mat-datepicker #pickerHD></mat-datepicker>
      <mat-error>Missing Hire Date</mat-error>
    </mat-form-field>  

    <mat-form-field>
      <mat-select matInput placeholder="Employee's country" formControlName="countries">
        <mat-option *ngFor="let country of countries" [value]="country">
          {{ country.name }}
        </mat-option>
      </mat-select>
    <mat-error>Missing country</mat-error>  
    </mat-form-field>

    <mat-slide-toggle formControlName="state" labelPosition="before" name="state">State</mat-slide-toggle>

    <mat-button-toggle-group formControlName="state" name="area" #group="matButtonToggleGroup" value="areaSelected" (change)="onAreaChanged($event.value)" aria-label="Font Style" ngDefaultControl>
      <mat-button-toggle value="services" (change)="onJobChanged($event.value)" >Services</mat-button-toggle>
      <mat-button-toggle value="kitchen" (change)="onJobChanged($event.value)" >Kitchen</mat-button-toggle>
    </mat-button-toggle-group>
    
    <app-jobs [areaSelected] = 'areaSelected' (jobSelected)='onJobSelected($event)' ></app-jobs>

    <mat-form-field *ngIf="showTipRate">
      <input type="number" matInput placeholder="Employee's Tip Rate" formControlName="tipRate">
      <mat-error>Missing value</mat-error>
    </mat-form-field>    

    <button type="submit" mat-raised-button color="primary" [disabled]="!isValid()">Submit</button>
    </form>
</section>